<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tea.dao.InformationDao">
	<select id="getInforList" resultMap="ilist" resultType="Information">
		select i.*,u.uname from tea_information i
		inner join tea_user u on(i.uid=u.uid)
	</select>
	
	<resultMap type="Information" id="ilist" autoMapping="true">
		<association property="user" javaType="User">
			<id column="uid" property="uid"/>
			<result column="uname" property="uname"/>
		</association>
	</resultMap>
	
	<!-- 批量删除客户留言信息的方法 -->
	<delete id="deleteManyInfo" parameterType="List">
		delete from tea_information where iid in
		<foreach collection="list" item="d" index="no" open="(" separator="," close=")">
			#{d}
		</foreach>
	</delete>
</mapper>