<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tea.dao.UserDao">
	<!-- 登录验证的语句 -->
	<select id="loginValider" resultType="User">
		select * from tea_user 
		where uphone=#{uname} or uemail=#{uname} and upassword=#{upassword}
	</select>
	
	<select id="getUserList" resultMap="ulist">
		select u.*,r.* from tea_user u
		inner join tea_role r on(u.rid=r.rid)
		<where>
			<if test="uname!=null">
				and uname like concat('%',#{uname},'%')
			</if>
			<if test="rid!=0">
				and u.rid=#{rid}
			</if>
		</where>
	</select>
	<resultMap type="User" id="ulist" autoMapping="true">
		<association property="role" javaType="Role" autoMapping="true">
		</association>
	</resultMap>
	
	<!-- 查询所有角色信息的方法，包括根据id查询 -->
	<select id="getRoleList" resultType="Role">
		select * from tea_role
		<where>
			<if test="rid!=0">
				rid=#{rid}
			</if>
		</where>
	</select>
	
	<!-- 批量删除用户信息的方法 -->
	<delete id="deleteManyUser" parameterType="List">
		delete from tea_user where uid in
		<foreach collection="list" item="d" index="no" open="(" separator="," close=")">
			#{d}
		</foreach>
	</delete>
</mapper>